n8n/workflows/cancel-reminder.json
{
  "name": "Reminder - Cancel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "cancel-reminder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.WEBHOOK_SHARED_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-secret",
      "name": "Check Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scheduled_messages\nSET status = 'canceled'\nWHERE id = $1 AND account_id = $2 AND status = 'pending'\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [$json.body.id, $json.body.account_id] }}"
        }
      },
      "id": "cancel-reminder",
      "name": "Cancel Reminder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, -80],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Postgres - Reminders" } }
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, -80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 80]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Check Secret", "type": "main", "index": 0 }]] },
    "Check Secret": {
      "main": [
        [{ "node": "Cancel Reminder", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Cancel Reminder": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  }
}
