n8n/workflows/list-reminders.json
{
  "name": "Reminder - List",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "list-reminders",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.WEBHOOK_SHARED_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-secret",
      "name": "Check Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(json_agg(t), '[]'::json) AS rows\nFROM (\n  SELECT * FROM scheduled_messages\n  WHERE account_id = $1 AND conversation_id = $2\n  ORDER BY send_at DESC\n) t;",
        "options": {
          "queryReplacement": "={{ [$json.query.accountId, $json.query.conversationId] }}"
        }
      },
      "id": "list-reminders",
      "name": "List Reminders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, -80],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Postgres - Reminders" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.rows }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, -80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 80]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Check Secret", "type": "main", "index": 0 }]] },
    "Check Secret": {
      "main": [
        [{ "node": "List Reminders", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "List Reminders": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  }
}
