n8n/workflows/send-reminders-cron.json
{
  "name": "Reminder - Send Due (Cron)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM scheduled_messages\nWHERE status = 'pending' AND send_at <= now()\nORDER BY send_at ASC;",
        "options": {}
      },
      "id": "get-due-reminders",
      "name": "Get Due Reminders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Postgres - Reminders" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHATWOOT_BASE_URL }}/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "api_access_token", "value": "={{ $env.CHATWOOT_API_TOKEN }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.reminder_message, message_type: \"outgoing\" }) }}",
        "options": {}
      },
      "id": "send-message",
      "name": "Send WhatsApp Message via Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueErrorOutput",
      "position": [440, 0],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scheduled_messages\nSET status = 'sent', sent_at = now()\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$('Get Due Reminders').item.json.id] }}"
        }
      },
      "id": "mark-sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, -100],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Postgres - Reminders" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scheduled_messages\nSET status = 'failed', failure_reason = $2\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$('Get Due Reminders').item.json.id, $json.error?.message ?? JSON.stringify($json).slice(0, 500)] }}"
        }
      },
      "id": "mark-failed",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 100],
      "credentials": { "postgres": { "id": "REPLACE_ME", "name": "Postgres - Reminders" } }
    }
  ],
  "connections": {
    "Every 15 min": { "main": [[{ "node": "Get Due Reminders", "type": "main", "index": 0 }]] },
    "Get Due Reminders": { "main": [[{ "node": "Send WhatsApp Message via Chatwoot", "type": "main", "index": 0 }]] },
    "Send WhatsApp Message via Chatwoot": {
      "main": [
        [{ "node": "Mark Sent", "type": "main", "index": 0 }],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    }
  }
}
